# Global gitignore
*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/
*.env
*.pytest_cache/
*.tox/
*.coverage
*.mypy_cache/
*.nox/
*.coverage.*
*.pylint.d/
__pycache__/
*.pyc
*.pyo
*.pyd
scratchwork.txt
image-recognition-with-yolo/

# Visual Studio
_vs/

# Java
*.class
*.jar
*.war
*.ear
*.classpath
*.project
*.settings/
*.metadata/
target/
build/

# C/C++
*.o
*.obj
*.so
*.a
*.out
*.exe
*.gch
*.pch
*.dSYM/
*.ncb
*.suo
*.sdf
*.ipch
*.aps
*.build/

# Swift
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xcscheme
*.xcodeuserstate
*.swiftpm/
*.build/
DerivedData/

# JavaScript
node_modules/
npm-debug.log
yarn-error.log
*.eslintcache
*.prettierrc
*.lock
coverage/
dist/
build/

# Rust
target/
Cargo.lock
*.rs.bk

# Zig
zig-out/
*.zw

# R
.Rproj.user/

# Ruby
*.gem
*.rbc
.bundle/
config.log
coverage/
InstalledFiles
*.swp
*.swo
*.sqlite3
db/*.sqlite3
log/*.log
tmp/
*.gem
*.rbc
.sass-cache/
capfile
coverage/
*.rbc
*.class
*.env
.ruby-version
.ruby-gemset
.Rproj.user

.fake