<!DOCTYPE html>

<html lang="eb">

    {% include 'head.html' %}

    <body>

        {% include 'navbar.html' %}

        <br>
        <br>

        <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
                {% if city_info %}
                <h1 style="font-family: Helvetica; font-size: 80px">{{ city_info.name }}</h1>
                <hr>
                <h2>General Information:</h2>
                <br>
                <p>Official Name: {{ city_info.native_name }}</p>
                <br>
                <p>Population: {{ city_info.population }}</p>
                <br>
                <p>Continent: {{ city_info.continent }}</p>
                <br>
                <p>Country: {{ city_info.country }}</p>
                <br>
                <p>Timezone: {{ city_info.timezone }}</p>
                <br>
                <p>Languages: {{ city_info.language }}</p>
                <br>
                <p>Map: <a href="{{ city_info.maps }}">{{ city_info.maps }}</a></p>
                <!-- <iframe
                    src="{{ city_info.maps }}"
                    width="600"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy">
                </iframe> -->
                <!-- Add more fields as needed -->
                {% else %}
                <p>City information not available</p>
                {% endif %}
                
                <hr>
        
                <h2>Tourist Information:</h2>
                <br>
                {% if tourist_info %}
                <!-- <h2>Tourist Information</h2> -->
                <ul>
                {% for attraction in tourist_info %}
                    <li>{{ attraction }}</li>
                {% endfor %}
                </ul>
                {% else %}
                <p>Tourist information not available</p>
                {% endif %}
        
                <hr>

                <h2>Weather Forecast</h2>
                {% if weather_info %}
                    <p>Predicted temperatures for the next days: {{ weather_info }}</p>
                {% else %}
                    <p>Weather forecast is not available.</p>
                {% endif %}

                <hr>

                <h2>Optimal predicted route</h2>
                <!-- <p>The distance between {{ city1 }} and {{ city2 }} is {{ distance }} km.</p> -->
                <p>The distance from Orlando to {{ city_info.name }} is {{ optimal_route_info }} km.</p>


                <br>

            </div>
            <div class="col">
            </div>
        </div>

        <br>
        <br>
    
        {% include 'footer.html' %}

    </body>

</html>