<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
<footer class="footer">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      Project License: Copyright 2024 - Christoph Hartleb
      <a href="{% url 'privacy_policy' %}" target="_blank">Privacy Policy</a>
      <a href="{% url 'terms_of_service' %}" target="_blank">Terms of Service</a>
      <a href="{% url 'legal_notice' %}" target="_blank">Legal Notice</a>
      <a href="mailto:contact@yourdomain.com">Contact</a>
    </div>
  </nav>
</footer>
</body>
</html>