<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">SouthAmericaCityExplorer</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Dropdown for USA travel and tourist info -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        South America - Travel Info
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://southamericatourism.com/" target="_blank">Official South American Tourism Office Website</a></li>
                        <li><a class="dropdown-item"
                                href="https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories.html/"
                                target="_blank">Travel Restrictions</a></li>
                        <li><a class="dropdown-item" href="https://www.usa.gov/visitors" target="_blank">Tourist Information</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>