{% extends "base.html" %}
{% block content %}
<h2>Select Features for Model Training</h2>
<form method="post">
    {% for col in columns %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="features" value="{{ col }}" id="flexCheck{{ col }}">
        <label class="form-check-label" for="flexCheck{{ col }}">
            {{ col }}
        </label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary mt-3">Train Model</button>
</form>
{% endblock %}
