.container {
  margin-top: 20px;
}

.profile-container {
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.btn-dark {
  background-color: #343a40;
  color: #fff;
}

.btn-dark:hover {
  background-color: #23272b;
}

.dark-mode {
  background-color: #212529;
  color: #ffffff;
}

.dark-mode .panel {
  background-color: #343a40;
}

.dark-mode .panel-heading {
  background-color: #495057;
}
