<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <title>Birthdays</title>
</head>
<body>
    <div class="header">
        <h1>Birthdays</h1>
    </div>
    <div class="container">
        <div class="section">
            <h2>Add a Birthday</h2>
            <!-- Form to add a birthday -->
            <form method="post" action="/add">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" placeholder="Name"><br><br>
                
                <label for="year">Year:</label><br>
                <input type="number" id="year" name="year" placeholder="Year"><br><br>

                <label for="month">Month:</label><br>
                <input type="number" id="month" name="month" placeholder="Month"><br><br>
                
                <label for="day">Day:</label><br>
                <input type="number" id="day" name="day" placeholder="Day"><br><br>
                
                <input type="submit" value="Add Birthday" class="add-btn"><br><br>
            </form>
        </div>
        <div class="section">
            <h2>All Birthdays</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Delete</th> <!-- Added Delete column header -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through the database entries to display them in this table -->
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>{{ row.year }}/{{ row.month }}/{{ row.day }}</td>
                        <!-- Form to delete a birthday -->
                        <td>
                            <form method="post" action="/delete/{{ row.name }}">
                                <button type="submit" class="delete-btn">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
