<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container" [ngClass]="{ 'dark-mode': darkMode }">
  <form (submit)="searchProfiles($event)">
    <div class="form-group">
      <label>Search Github Users:</label>
      <input
        type="text"
        [(ngModel)]="searchQuery"
        name="searchQuery"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="button" (click)="toggleDarkMode()" class="btn btn-dark">Toggle Dark Mode</button>
    <button type="button" (click)="exportData()" class="btn btn-success">Export Data</button>
  </form>
  <div id="profiles">
    <div *ngFor="let profile of profiles" class="panel panel-default profile-container">
      <div class="panel-heading">
        <h3 class="panel-title">{{ profile.login }}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <img [src]="profile.avatar_url" alt="{{ profile.login }}" />
          </div>
          <div class="col-md-9">
            <p><strong>Name:</strong> {{ profile.name }}</p>
            <p><strong>Location:</strong> {{ profile.location }}</p>
            <p><strong>Followers:</strong> {{ profile.followers }}</p>
            <p><strong>Following:</strong> {{ profile.following }}</p>
            <p><strong>Public Repos:</strong> {{ profile.public_repos }}</p>
            <p><strong>Public Gists:</strong> {{ profile.public_gists }}</p>
            <p><strong>Top Starred Repositories:</strong></p>
            <ul>
              <li *ngFor="let repo of profile.topStarredRepos">
                <a [href]="repo.html_url" target="_blank">{{ repo.name }}</a> ({{ repo.stargazers_count }} stars)
              </li>
            </ul>
            <p><strong>Top Forked Repositories:</strong></p>
            <ul>
              <li *ngFor="let repo of profile.topForkedRepos">
                <a [href]="repo.html_url" target="_blank">{{ repo.name }}</a> ({{ repo.forks_count }} forks)
              </li>
            </ul>
            <p><strong>Language Stats:</strong></p>
            <ul [innerHTML]="profile.languageStats"></ul>
            <p><strong>Recent Activity:</strong> {{ profile.updated_at }}</p>
            <br />
            <a class="btn btn-default" [href]="profile.html_url" target="_blank">Visit Github</a>
            <a *ngIf="profile.blog" class="btn btn-default" [href]="profile.blog" target="_blank">Visit Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
